@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '~ngx-toastr/toastr';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  line-height: 1.6;
  background-color: #3f3f3f;
  color: #fff;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 1rem;
}


a {
  color: white;
  transition: color .5s;
  &:hover {
    color: #ff00ff;
  }
}


ul {
  list-style: none;
}

button {
  margin-right: 20px !important;
}

input {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  margin: 1.2rem 0;
}

hr {
  margin: .5rem 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
